<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- 船和挂靠港刷新频率(整数) 单位：分钟-->
    <add key="VesselRefreshRate" value="15"/>

    <!-- 卡车刷新频率（整数） 单位：分钟 -->
    <add key="TruckRefreshRate" value="15"/>

    <!-- 公告栏刷新频率（整数） 单位：分钟 -->
    <add key="NoticeRefreshRate" value="5"/>

    <!-- 收藏夹刷新频率（整数） 单位：分钟 -->
    <add key="FavouriteRefreshRate" value="5"/>

    <!-- 箱子刷新频率(整数) 单位:分钟 -->
    <add key="ContainerRefreshRate" value="5"/>

    <!-- 直装直提刷新频率(整数) 单位:分钟 -->
    <add key="TVDangerPlanRefreshRate" value="5"/>

  </appSettings>
  <connectionStrings>
    <!-- SqlServer-->
    <add connectionString="server=10.10.4.133;database=shsict;user id=sa;pwd=sa" name="Shsict.MsSql.ConnectionString"/>
    <!-- Oracle VIEW -->
    <add connectionString="User ID=sdcwp;password=sdcwp;data source=SDAPP;Pooling=true;Min Pool Size=10;" name="Shsict.Oracle.View.ConnectionString"/>
    <!-- Oracle Table -->
    <add connectionString="User ID=sdcwp;password=sdcwp;data source=SDAPP;Pooling=true;Min Pool Size=10;" name="Shsict.Oracle.Table.ConnectionString"/>
  </connectionStrings>

  <system.web>
    <compilation targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages theme="Shsict"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>