<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <!-- SqlServer-->
    <add connectionString="server=10.10.4.133;database=shsict;user id=sa;pwd=sa" name="Shsict.MsSql.ConnectionString"/>
    <!-- Oracle -->
    <add connectionString="User ID=shsict;password=shsict;data source=SDTDB;Pooling=true;Min Pool Size=10;" name="Shsict.Oracle.ConnectionString"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages theme="Shsict"/>
  </system.web>
</configuration>