@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPad.cshtml";
}

<div class="ui-body">
    <div data-role="collapsible" class="ui-corner-all custom-corners ui-shadow" data-collapsed="false">
        <h4>驳船作业</h4>
        <table data-role="table" id="financial-table-reflow" data-mode="reflow" class="financial-table-reflow table-stroke">
            <thead>
                <tr class="th-groups">
                    <th></th>
                    <th colspan="3">上昼夜</th>
                    <th colspan="3">第一班</th>
                    <th colspan="3">本月</th>
                    <th colspan="3">本年</th>
                </tr>
                <tr>
                    <th>驳船</th>
                    <th>计划箱量</th>
                    <th>实际箱量</th>
                    <th>穿梭巴士</th>
                    <th>计划箱量</th>
                    <th>实际箱量</th>
                    <th>穿梭巴士</th>
                    <th>计划箱量</th>
                    <th>实际箱量</th>
                    <th>穿梭巴士</th>
                    <th>计划箱量</th>
                    <th>实际箱量</th>
                    <th>穿梭巴士</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>2442</th>
                    <td>2,898</td>
                    <td>739</td>
                    <td>-5.8%</td>
                    <td>3,647</td>
                    <td>1,354</td>
                    <td>+5.8%</td>
                    <td>4,981</td>
                    <td>2,246</td>
                    <td>+13.4%</td>
                    <td>3,457</td>
                    <td>1,259</td>
                    <td>-3.9%</td>
                </tr>
                <tr>
                    <th>1133</th>
                    <td>2,898</td>
                    <td>739</td>
                    <td>-5.8%</td>
                    <td>3,647</td>
                    <td>1,354</td>
                    <td>+5.8%</td>
                    <td>4,981</td>
                    <td>2,246</td>
                    <td>+13.4%</td>
                    <td>3,457</td>
                    <td>1,259</td>
                    <td>-3.9%</td>
                </tr>
                <tr>
                    <th>NYC</th>
                    <td>2,898</td>
                    <td>739</td>
                    <td>-5.8%</td>
                    <td>3,647</td>
                    <td>1,354</td>
                    <td>+5.8%</td>
                    <td>4,981</td>
                    <td>2,246</td>
                    <td>+13.4%</td>
                    <td>3,457</td>
                    <td>1,259</td>
                    <td>-3.9%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
