@*@model VesselEfficiency*@

@{
    ViewBag.Title = "船舶效率";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

@section Header{  
     <a id="but_back" data-role="button" data-inline="true" data-rel="back"
        data-transition="slidedown" href="#page1" data-icon="arrow-l"
        class="ui-btn-left but_back" data-iconpos="notext" data-mini="true"> Back </a> 
}

 <ul data-role="listview" >
      <li>
        <h3>VESSELNAME</h3>
        <p>QCOPTM | QCNETTM | ABTHNO</p>
        <p class="ui-li-aside">AVGEFF</p>
      </li>
      <li>
        <h3>船名</h3>
        <p>毛台时量 | 净台时量 | 计划毛效率</p>
        <p class="ui-li-aside">前三月平均效率</p>
      </li>
      <li>
        <h3>VESSELNAME</h3>
        <p>QCOPTM | QCNETTM | ABTHNO</p>
        <p class="ui-li-aside">AVGEFF</p>
      </li>
      <li>
        <h3>船名</h3>
        <p>毛台时量 | 净台时量 | 计划毛效率</p>
        <p class="ui-li-aside">前三月平均效率</p>
      </li>
      <li>
        <h3>VESSELNAME</h3>
        <p>QCOPTM | QCNETTM | ABTHNO</p>
        <p class="ui-li-aside">AVGEFF</p>
      </li>
      <li>
        <h3>船名</h3>
        <p>毛台时量 | 净台时量 | 计划毛效率</p>
        <p class="ui-li-aside">前三月平均效率</p>
      </li>
      <li>
        <h3>VESSELNAME</h3>
        <p>QCOPTM | QCNETTM | ABTHNO</p>
        <p class="ui-li-aside">AVGEFF</p>
      </li>
      <li>
        <h3>船名</h3>
        <p>毛台时量 | 净台时量 | 计划毛效率</p>
        <p class="ui-li-aside">前三月平均效率</p>
      </li>
    </ul>
